:root {
    --color-background-theme-dark: rgb(34, 40, 49);
    --color-background-theme-light: rgb(221, 221, 221);
    --color-text-red: rgb(240, 84, 84);
    --color-text-blue: rgb(48, 71, 94);
    --color-text-light-gray: rgb(221, 221, 221);
    --max-width-elements-internal: 1220px;
}

/* Universal Selector Styles */

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;    
    background-color: var(--color-text-light-gray);  
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

h2 {
    margin: 0 0 1.5rem 0;
}

section {
    padding: 4rem 0;
    /* min-height: 50vh; */
    display: flex;
    align-items: center;   
    justify-content: center; 
    flex-direction: column;
}

/* Header */

header {
    position: sticky;
    top: 0;    
    background-color: var(--color-background-theme-dark);
}

/* Header: Navigation */

.top-navigation {
    display: flex;
    justify-content: space-evenly;
}

.top-navigation ul {
    display: flex;
    gap: 2rem;    
}

.top-navigation ul li a {
    color: var(--color-text-red);
}

.top-navigation ul li a:hover {
    color: var(--color-text-light-gray);
}

.logo {
    /* background-image: url(./images/logo150.png);
    object-fit: cover; */
}

/* Main */


/* Main > Article */


/*  */

/* Main > Article > Section About Me */

#section-about-me {
    background-color: var(--color-background-theme-light);
    color: var(--color-text-blue);
}

#section-about-me > * {
    max-width: var(--max-width-elements-internal);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#section-about-me h2 {
    background-color: var(--color-background-theme-dark);
    color: var(--color-text-red);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.wrapper-about-me-content {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 3rem;
}

.wrapper-about-me-img {    
    background-color: var(--color-background-theme-dark);
    border-radius: 6px;
    height: 0;
    padding-top: 100%;
}

/* Main > Article > Section My Skills */

#section-my-skills {
    background-color: var(--color-background-theme-dark);
    color: var(--color-text-red);
}

#section-my-skills > * {
    max-width: var(--max-width-elements-internal);
    margin-left: auto;
    margin-right: auto;
}


/* Main > Article > Section Achievements */
#section-achievements {
    color: var(--color-text-blue);
}

#section-achievements > * {
    max-width: var(--max-width-elements-internal);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Main > Article > Personal Information */

#section-personal-info {
    background-color: var(--color-background-theme-dark);
    color: var(--color-text-red);
}

#section-personal-info > * {
    max-width: var(--max-width-elements-internal);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    color: var(--color-text-red);
    font-size: 1rem;
    font-weight: 500;
}

